- page_title 'Static Site Editor'

%h1
  = _('Static Site Editor edit page')

%ul
  %li
    = _('Branch:')
    = @ref

  %li
    = _('Path to source:')
    = @path

  %li
    = _('Commit hash:')
    = @commit.id

  %li
    = _('Project:')
    = @project.path

  %li
    = _('Namespace:')
    = @project.namespace.path
