- page_title s_('AdminArea|Users statistics')

%h3
  = s_('AdminArea|Users statistics')
%table.table
  - if @counts[:admin]
    %tr
      %td
        = s_('AdminArea|Admin users')
      %td
        = @counts[:admin]
  %tr
    %td
      = s_('AdminArea|Users without a Group and Project')
      - if License.current&.ultimate_plan?
        %span.has-tooltip{ data: { container: 'body' }, title: s_('AdminArea|Included Free in license') }
          = sprite_icon('question', size: 16)
    %td
      = @counts[:without_groups_and_projects]

  - @counts[:roles].each do |row|
    %tr
      %td
        = s_('AdminArea|Users with highest role')
        %strong
          = row['kind']
      %td
        = row['amount']

  %tr.bg-gray-light
    %td
      %strong
        = s_('AdminArea|Active users')
        = "(#{s_('AdminArea|Billable users')})" if License.current&.paid?
    %td
      %strong= @counts[:active]
  %tr.bg-gray-light
    %td
      %strong
        = s_('AdminArea|Blocked users')
    %td
      %strong
        = @counts[:blocked]
  %tr.bg-gray-light
    %td
      %strong
        = s_('AdminArea|Total users')
    %td
      %strong
        = @counts[:total]
