- access = note_max_access_for_user(note)
- if note.has_special_role?(Note::SpecialRole::FIRST_TIME_CONTRIBUTOR)
  %span.note-role.note-role-special.has-tooltip{ title: _("This is the author's first Merge Request to this project.") }
    = issuable_first_contribution_icon
- if access.nonzero?
  %span.note-role.user-access-role= Gitlab::Access.human_access(access)

- if can?(current_user, :award_emoji, note)
  - if note.emoji_awardable?
    .note-actions-item
      = button_tag title: 'Add reaction', class: "note-action-button note-emoji-button js-add-award js-note-emoji has-tooltip btn btn-transparent", data: { position: 'right', container: 'body' } do
        = icon('spinner spin')
        %span{ class: 'link-highlight award-control-icon-neutral' }= sprite_icon('slight-smile')
        %span{ class: 'link-highlight award-control-icon-positive' }= sprite_icon('smiley')
        %span{ class: 'link-highlight award-control-icon-super-positive' }= sprite_icon('smile')

  - if note_editable
    .note-actions-item
      = button_tag title: 'Edit comment', class: 'note-action-button js-note-edit has-tooltip btn btn-transparent', data: { container: 'body' } do
        %span.link-highlight
          = custom_icon('icon_pencil')

  = render 'projects/notes/more_actions_dropdown', note: note, note_editable: note_editable
