%li.key-list-item
  .append-right-10
    - if key.valid?
      - if key.expired?
        = icon 'exclamation-triangle', class: 'settings-list-icon d-none d-sm-block has-tooltip',
          title: _('Your key has expired')
      - else
        = icon 'key', class: 'settings-list-icon d-none d-sm-block'
    - else
      = icon 'exclamation-triangle', class: 'settings-list-icon d-none d-sm-block has-tooltip',
        title: key.errors.full_messages.join(', ')


  .key-list-item-info
    = link_to path_to_key(key, is_admin), class: "title" do
      = key.title
    %span.text-truncate
      = key.fingerprint

    .key-list-item-dates
      %span.last-used-at.append-right-10
        = _('Last used:')
        = key.last_used_at ? time_ago_with_tooltip(key.last_used_at) : _('Never')
      %span.expires.append-right-10
        = _('Expires:')
        = key.expires_at ? key.expires_at : _('Never')
      %span.key-created-at
        = s_('Profiles|Created %{time_ago}'.html_safe) % { time_ago:time_ago_with_tooltip(key.created_at)}
        - if key.can_delete?
          = link_to path_to_key(key, is_admin), data: { confirm: _('Are you sure?')}, method: :delete, class: "key-delete-btn btn btn-transparent prepend-left-10" do
            %span.sr-only= _('Remove')
            = icon('trash')
