- page_title "Issues"
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{@group.name} issues")

- if group_issues_count(state: 'all').zero?
  = render 'shared/empty_states/issues', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :issues
    .nav-controls
      = render 'shared/issuable/feed_buttons'
      = render 'shared/new_project_item_select', path: 'issues/new', label: "New issue", type: :issues, with_feature_enabled: 'issues', with_shared: false, include_projects_in_subgroups: true

  = render 'shared/issuable/search_bar', type: :issues

  - if Feature.enabled?('issues_vue_component')
    %div{ id: 'js-issues-list', data: { endpoint: expose_url(api_v4_groups_issues_path(id: @group.id)), 'can-update': @can_bulk_update.to_json, 'create-path': '' } }
  - else
    = render 'shared/issues'
