- page_title _('Start a Free Trial')
%h3.page-title.center
  = _('Start a Free Trial')

%p.center
  = _('We need some additional information to activate your free trial')


- if @lead_result&.dig(:errors).present?
  %h4 We have found the following errors:
  %p= @lead_result[:errors]

= form_tag create_lead_trials_path, method: :post do |f|
  .form-group
    = label_tag :company_name, _('Company name'), for: :company_name, class: 'col-form-label'
    = text_field_tag :company_name, params[:company_name], class: 'form-control', required: true
  .form-group
    = label_tag :company_size, _('Number of employees?'), for: :company_size, class: 'col-form-label'
    = select_tag :company_size, company_size_options_for_select(params[:company_size]), include_blank: true, class: 'select2', required: true
  .form-group
    = label_tag :phone_number, _('Telephone number'), for: :phone_number, class: 'col-form-label'
    = text_field_tag :phone_number, params[:phone_number], class: 'form-control', required: true
  .form-group
    = label_tag :number_of_users, _('How many users will be evaluating the trial?'), for: :number_of_users, class: 'col-form-label'
    = select_tag :number_of_users, number_of_users_options_for_select(params[:number_of_users]), include_blank: true, class: 'select2', required: true
  .form-group
    = label_tag :country, _('Country'), class: 'col-form-label'
    = select_tag :country, options_for_select([[_('Please select a country'), '']]), class: 'select2', required: true, id: 'country_select'
  = submit_tag _('Continue'), class: 'btn btn-success btn-block'

= render 'skip_trial'
