!!! 5
%html{ lang: "en" }
  = render "layouts/head"
  %body.ui-indigo.trial-page.application.navless
    = render "layouts/header/logo_with_title"
    = render "layouts/broadcast"
    .container.navless-container.pt-0
      .content
        = render "layouts/flash"
        = yield
