!!! 5
%html{ lang: "en", class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.trials-page.application.navless
    = render "layouts/header/logo_with_title"
    = header_message
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield
