- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Clusters')

= render_gcp_signup_offer

.clusters-container.gl-my-2
  .js-toggle-container
    %ul.nav-links.nav-tabs.nav{ role: 'tablist' }
      - cluster_list_tabs(clusterable).each do |tab|
        %li.nav-item{ role: 'presentation' }
          %a.nav-link{ href: "##{tab[:id]}-pane", id: "#{tab[:id]}-tab", class: tab[:class], data: { toggle: 'tab' }, role: 'tab' }
            %span= tab[:text]

    .tab-content
      - cluster_list_tabs(clusterable).each do |tab|
        .tab-pane{ id: "#{tab[:id]}-pane", class: tab[:class], role: 'tabpanel' }
          - if tab[:id] == 'certificate-clusters'
            = render 'cluster_list', clusters: @clusters
          - elsif tab[:id] == 'agent-clusters'
            = js_cluster_agents_list(clusterable)
