%ul.nav-links.append-bottom-default
  %li= link_to 'Index', project_product_analytics_path(@project)
  %li= link_to 'Users', users_project_product_analytics_path(@project)
  %li= link_to 'Activity', activity_project_product_analytics_path(@project)
  %li= link_to 'Test', test_project_product_analytics_path(@project)
  %li= link_to 'Example', example_project_product_analytics_path(@project)
