- return unless page_startup_api_calls.present?
- ref = local_assigns.fetch(:ref) { current_ref }
- root_url = root_url()

= javascript_tag nonce: true do
  :plain
    var gl = window.gl || {};
    gl.startup_calls = #{page_startup_api_calls.to_json};
    if (gl.startup_calls && window.fetch) {
      Object.keys(gl.startup_calls).forEach(apiCall => {
        // fetch won’t send cookies in older browsers, unless you set the credentials init option.
        // We set to `same-origin` which is default value in modern browsers.
        // See https://github.com/whatwg/fetch/pull/585 for more information.
        gl.startup_calls[apiCall] = {
          fetchCall: fetch(apiCall, { credentials: 'same-origin' })
        };
      });
    }
    if (window.fetch) {
      var url = `#{root_url}/api/graphql`
      var pathRegex = /-\/tree\/+.\/(.+$)/;
      var matches = window.location.href.match(pathRegex);
      var currentRoutePath = matches ? matches[1] : '';

      var pathLastCommitQuery = `
        query PathLastCommit {
          project(fullPath: "#{@project.full_path}") {
            __typename
            repository {
              __typename
              tree(path: "${currentRoutePath}", ref: "#{ref}") {
                __typename
                lastCommit {
                  __typename
                    sha
                    title
                    titleHtml
                    description
                    message
                    webUrl
                    authoredDate
                    authorName
                    authorGravatar
                  author {
                    __typename
                    name
                    avatarUrl
                    webUrl
                  }
                  signatureHtml
                  pipelines(ref: "#{ref}", first: 1) {
                    __typename
                    edges {
                      __typename
                      node {
                        __typename
                        detailedStatus {
                          __typename
                          detailsPath
                          icon
                          tooltip
                          text
                          group
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      `
      const opts = {
        method: "POST",
        headers: { "Content-Type": "application/json", 'X-CSRF-Token': "#{form_authenticity_token}" },
      };

      gl.graphql_startup_calls = {
        pathLastCommit: {
          fetchCall: fetch(url, {
            ...opts,
            body: JSON.stringify({ query: pathLastCommitQuery })
          })
        }
      };
    }

